.form-area {
    width: 75%;
    max-width: 750px;
    margin: 0px auto;
}
@media (max-width: 400px) {
    .form-area {
        width: 75%;
        margin-left: 70px;
    }
}
  
.form-control {
    margin-top: 25px;
}

.btn-success {
    display: block;
    margin-top: 25px;
    height: 35px;
    width: 75px;
}
